{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div style="text-align: center;">
    <h1>Oklahoma Earthquakes in the Past Week</h1>
    <p>Display <a href="https://earthquake.usgs.gov/fdsnws/event/1/" target="_blank">USGS data</a> on Oklahoma eartquakes that occurred in the past week by minimum magnitude</p>
    <p>Optionally display <a href="https://gisdata-occokc.opendata.arcgis.com/" target="_blank">OCC data</a> on UIC wells</p>
</div>
<div style="display: flex; justify-content: center">
    <form method="POST" action="/">
        {{ form.csrf_token }}
        {{ form.startday.label }} {{ form.startday }}
        {{ form.minmag.label }} {{ form.minmag }}
        {{ form.wells_overlay.label }} {{ form.wells_overlay }}
        {{ form.submit }}
    </form>
</div>
<div style="display: flex; justify-content: center">
    <iframe srcdoc="{{ iframe }}" title="Oklahoma Earthquakes" width="900" height="600"></iframe>
</div>
{% endblock %}
